
<!-- Will extend to index.html (still in progress) -->
 
<!-- Block the search_bar -->
<div class="search-bar">   <!-- Add a search_bar -->
    <form action="Javascript:search()">
        <label><strong><font face = "Verdana" size = "5" font style= color:maroon>What type of food are you craving?</strong></font><h2></h2>
        <input type="text" id="search_value">
        <button style="background-color:black; border-color:black; color:white"class="shutter-out" type="submit"><font face= "Verdana" size= "3">Search</button>
    </form>
</div>
<div class="other_options"> <!-- 'Pick For Me" and 'Add Restaurant' buttons-->

    <button style="background-color:pink; border-color:pink; color:black" class="shutter-out" onclick="Javascript:search('/show_food?')" style="display: inline-block;vertical-align: middle"></font><font face= "Verdana" size= "3">Pick For Me</button>
   
    <button style="background-color:pink; border-color:pink; color:black" class="shutter-out" onclick="Javascript:search('/show_food?')" style="display: inline-block;vertical-align: middle"></font><font face= "Verdana" size= "3">Add Restaurant</button>
   
</div>

<!-- End the block -->


